@page
@model Trabajo_Alquiler.Pages.Inquilinos.CreateModel
@{
    ViewData["Tittle"] = "Create";
}

<h1>Create</h1>

<h4>Inquilinos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inquilino.Nombre" class="control-label"></label>
                <input asp-for="Inquilino.Nombre" class="form-control" />
                <span asp-validation-for="Inquilino.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.Apellido" class="control-label"></label>
                <input asp-for="Inquilino.Apellido" class="form-control" />
                <span asp-validation-for="Inquilino.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.Telefono" class="control-label"></label>
                <input asp-for="Inquilino.Telefono" class="form-control" />
                <span asp-validation-for="Inquilino.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.Email" class="control-label"></label>
                <input asp-for="Inquilino.Email" class="form-control" />
                <span asp-validation-for="Inquilino.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.PropiedadId" class="control-label"></label>
                <input asp-for="Inquilino.PropiedadId" class="form-control" />
                <span asp-validation-for="Inquilino.PropiedadId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-succes" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}