@page
@model Trabajo_Alquiler.Pages.Inquilinos.EditModel
@{
    ViewData["Tittle"] = "Edit";
}

<h1>Edit</h1>

<h4>Inquilinos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inquilino.Id" />
            <div class="form-group">
                <label asp-for="Inquilino.Nombre" class="control-label"></label>
                <input asp-for="Inquilino.Nombre" class="form-control" />
                <span asp-validation-for="Inquilino.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.Apellido" class="control-label"></label>
                <input asp-for="Inquilino.Apellido" class="form-control" />
                <span asp-validation-for="Inquilino.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.Telefono" class="control-label"></label>
                <input asp-for="Inquilino.Telefono" class="form-control" />
                <span asp-validation-for="Inquilino.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.Email" class="control-label"></label>
                <input asp-for="Inquilino.Email" class="form-control" />
                <span asp-validation-for="Inquilino.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquilino.PropiedadId" class="control-label"></label>
                <input asp-for="Inquilino.PropiedadId" class="form-control" />
                <span asp-validation-for="Inquilino.PropiedadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}