@page
@model Trabajo_Alquiler.Pages.Contratos.CreateModel
@{
    ViewData["Tittle"] = "Create";
}

<h1>Create</h1>

<h4>Contratos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="Contrato.PropiedadId" class="control-label"></label>
                <select asp-for="Contrato.PropiedadId" class="form-control" asp-items="@(ViewData["PropiedadId"] as SelectList)"></select>
                <span asp-validation-for="Contrato.PropiedadId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Contrato.InquilinoId" class="control-label"></label>
                <select asp-for="Contrato.InquilinoId" class="form-control" asp-items="@(ViewData["InquilinoId"] as SelectList)"></select>
                <span asp-validation-for="Contrato.InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.FechaInicio" class="control-label"></label>
                <input asp-for="Contrato.FechaInicio" class="form-control" />
                <span asp-validation-for="Contrato.FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.FechaFin" class="control-label"></label>
                <input asp-for="Contrato.FechaFin" class="form-control" />
                <span asp-validation-for="Contrato.FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.Deposito" class="control-label"></label>
                <input asp-for="Contrato.Deposito" class="form-control" />
                <span asp-validation-for="Contrato.Deposito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.Terminos" class="control-label"></label>
                <input asp-for="Contrato.Terminos" class="form-control" />
                <span asp-validation-for="Contrato.Terminos" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-succes" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


